.dialog__email {
  color: #ab750e;
}

mat-dialog-content {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding-top: 20px !important;
}

mat-dialog-actions {
  padding: 20px;
  justify-content: flex-end;

  @media only screen and (max-width: 460px) {
    justify-content: center;
    gap: 20px;

    button {
      margin: 0 !important;
      width: 100%;
    }

  }

}

.mat-mdc-form-field {
  width: 100%;
}
