<h1 mat-dialog-title>Password Change Operation</h1>
<form (ngSubmit)="changePassword()">
  <mat-dialog-content>
    <p>You are about to change the email password of:</p>
    <p class="dialog__email">{{mailbox.email}}</p>

    <mat-form-field class="mt-4">
      <mat-label>Enter the new password</mat-label>
      <input name="new_password" matInput type="text" [(ngModel)]="newPassword" required autocomplete="off">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button type="submit" class="btn btn-secondary me-3" [disabled]="!newPassword">Change Password</button>
    <button type="button" class="btn btn-outline-secondary" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
