.dialog__email {
  color: #ab750e;
}

mat-dialog-content {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding-top: 20px !important;
}

mat-dialog-actions {
  padding: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}
