
.login__container {
  margin: 50px 0;

  .login__section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 300px;
    margin-top: 30px;

    .login__form {
      flex-grow: 2;
      padding: 25px;

      mat-form-field {
        width: 100%;
      }

    }

    .login__hero {
      flex-grow: 1;
      width: 40%;
      background-image: url("../../../assets/images/bg-login.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;

      .login__form {
        order: 2;
      }

      .login__hero {
        order: 1;
        height: 40vw;
        width: auto;
      }

    }

  }

}

@media only screen and (max-width: 600px) {
  .login__container {
    header {
      text-align: center;

    }
  }
}
